.container{
  max-width: 1140px;
  padding: 15px;
  margin: 0 auto;
}

input{
  margin-bottom: 10px;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.settings{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  bottom: 0;
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
}

h3{
  margin: 0 0 10px 0;
}