.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-block{
  min-height: 150px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px;
  width: 60%;
  position: relative;
}

#links{
  padding: 0;
  margin: 0;
}

#links li{
  display: grid;
  grid-template-columns: 10% 90%;
  list-style-type: none;
  margin: 10px 0;
}

#links li a{
  text-decoration: none;
}

.btn{
  cursor: pointer;
  background: rgba(34, 31, 255, 0.8);
  padding: 4px;
  color: whitesmoke;
  border: none;
  outline: none;
  border-radius: 4px;
}

.btn:hover{
  background: rgb(34, 31, 255);
  box-shadow: 0 0 10px rgba(0,0,0,0.3); 
}

.error-block{
  min-height: 50px;
}

.error{
  padding: 0 5px;
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
  color: #ff0000;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s opacity, 0.4s visibility;
}

.error-visible {
  opacity: 1 !important;
  visibility: visible !important;
  transition: 0.55s opacity, 0.55s visibility;
}

.preloader.loaded__hiding  {
  transition: 5s opacity;
  opacity: 0;
  display: none;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1001;
}
.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #7068e2;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
