.candidate{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  &__row{
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    grid-gap: 20px;
    margin-bottom: 10px;
    align-items: center;
    input{
      border-radius: $b-radius;
      padding: $form-padding;
    }
    span{
      color: $color;
    }
  }
  &__documents{
    width: 406px;
    &-document{
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      label{
        display: inline-block;
        color: #fff;
        width: 100%;
        user-select: none;  
      } 
      label,input{
        cursor: pointer;
      }
    }
  }
  &__english{
    width: 406px;
  }
  &__message{
    margin-top: 20px;
    font-size: 18px;
    color: #ff7350;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s opacity, 0.4s visibility;
    &-visible {
      opacity: 1!important;
      visibility: visible!important;
      transition: 0.55s opacity, 0.55s visibility;
    }
  }
}

